<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" allow-return-values="false">
    <test name="TestNG" >
        <classes>
            <class name="TestNGHelloWorld1"/>
        </classes>
    </test> <!-- TestNG -->
</suite> <!-- Default Suite -->